@model UsuarioViewModel


@{
    ViewData["Title"] = "Eps";
}

<div class="container text-center mt-4">
    <div class="row align-items-center justify-content-center">
        <!-- Botones principales -->
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Servicios a un Click</button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Agendar Cita</button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Exámenes</button>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-3">
            <button type="button" class="btn btn-primary w-100">Registros Pendientes</button>
        </div>

        <!-- Información del usuario -->
        <div class="col-12 text-start mt-4">
            <img src="https://cdn-icons-png.flaticon.com/512/4792/4792929.png" class="img-thumbnail rounded float-end ms-3" alt="..." style="max-width: 150px;">
            <p class="fs-4 opacity-75 text-primary mb-1">Nombre Completo: <span class="fw-bold">@Model.Nombre @Model.Apellido</span></p>
            <p class="fs-5 text-secondary mb-1">Correo Electrónico: <span class="fw-light">@Model.Email</span></p>
            <p class="fs-5 text-secondary">Cédula: <span class="fw-light">@Model.Identificacion</span></p>
        </div>
    </div>

    <!-- Sección de información colapsable -->
    <div class="mt-4">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
            Más información
        </button>

        <div class="collapse mt-3" id="collapseExample">
            <div class="card card-body">
                @* <p class="fs-5 text-secondary mb-1">Fecha de Nacimiento: <span class="fw-light">@Model.DireccionResidencia</span></p> *@
                <p>Procesos Actuales</p>
            </div>
        </div>
    </div>
</div>
